@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 90vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;   
}


.titulo-destaque {
    color: #E98A15;
}

.apresentacao {
    margin: 4% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.apresentacao__links__link {
    background-color: #E98A15;
    width: 200px;
    padding: 10px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;

}

h1 {
    font-weight: bold;
}

span{
    color: #17B890;
    border: 1px solid #17B890;
    padding: 0.1px 3px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover, a:focus {
    color: #FFFFFF;
}

/*
Banco de cores
branco #FFFFFF
preto #000000
laranja #E98A15
vermelho #A31621
menta #17B890
*/